# VALUES

In [1]:
1

1

In [2]:
2

2

In [3]:
2*2

4

In [4]:
3*4

12

In [6]:
2+3*2

8

In [7]:
1+2J

(1+2j)

# TYPE OF THE VALUES type()

gives the data type of the values

In [8]:
type(1)

int

In [9]:
type(2*2)

int

In [10]:
type(2+2*3)

int

In [11]:
type(3.3)

float

In [12]:
type(-1)

int

In [13]:
type("Hello World")

str

In [14]:
type('1.1')

str

In [15]:
type("1.1")

str

In [16]:
type(1+2j)

complex

# ARITHMATIC OPERATION

In [17]:
a= 5
b=3
c=a+b
print(c)

8

In [18]:
x="Hello"
y= "World"
z = x +" " +y

In [19]:
z

'Hello World'

In [20]:
#Normal Division

a=20
b =2
c = a/b
print(c)

10.0

In [21]:
#Floor Division: Lowest Possible value

a = 5
b = 3
c = a//b
print(c)

1

In [22]:
#Module: Gives you the reminder
a = 5
b = 3
c = a%b
print(c)

2

In [24]:
#To the Power

a =5
b =3
c = a**b
print(c)

125

In [25]:
a=12
b=2
c= a**b
print(c)

144

In [26]:
#Comparision: gives the comparision and gives a value against it.

1==1

True

In [27]:
1 > 2

False

In [28]:
1<2

True

# VARIABLES

In [29]:
#Reserved Key words

import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

above are the set of words which are reserved and cant be used as variables.

Python's reserved keywords are words that cannot be used as identifiers (like variable names, function names, class names, etc.).

keywords are necessary for syntax of the language platform

'keyword' -> name of the module

'print(keywords.kwlist)' ->  prints the content of 
'kwlist' -> which is expected to be an attribute (like a variable or a list) defined within the keywords module.

# DATASTRUCTURES

To store a single value -> You could use a single variable like a=1 (stores single value) ; but to store multiple values we would need Datastructures.

1. LIST: Mutable 1D types -> i.e they can be altered. list() / a= [data]
2. TUPLE: Non-Mutable 1D Types -> i.e Can't be changed or altered.  tuple() / a = (data)
3. SET : Removes the duplicates -> set() / a ={data}
4. DICT: Key and Value Pair or which has row and column kind of data like excel. dict() / a = {'BDA' : ['Ajay','Ronu'],'Revenue':[200000,300000]}

In [30]:
#LIST

In [31]:
a = [1,2,3,4]

In [32]:
print(a)

[1, 2, 3, 4]

In [33]:
type(a)

list

In [34]:
#2.Tupple

In [35]:
b = (1,2,3,4)
type(b)

tuple

In [36]:
#3.Set

In [37]:
c = {1,1,2,2,2,3,4,5,6,2,7,3,3,8,9,9,5,10}

In [38]:
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

See the duplicates are auto removed and filtered

In [39]:
#4. Dict

In [40]:
d= {'BDA': ['Sahil','Santosh', 'Vikram'],'Weekly Revenue':[200000,300000,500000]}

In [41]:
print(d)

{'BDA': ['Sahil', 'Santosh', 'Vikram'], 'Weekly Revenue': [200000, 300000, 500000]}

In [42]:
type(d)

dict

# PYTHON CONTROL FLOW

In [43]:
#LOOP

In [45]:
students_marks = [75,85,50,90,40]

In [47]:
for mark in students_marks:
    if mark >= 50 :
        print('Passed')
    else:
        print('Failed')

Passed
Passed
Passed
Passed
Failed

In [52]:
marks = [20,30,60,61,71,75,85,60,90,91,40]

In [54]:
for mark in marks:
    if 20 <= mark <= 59: 
        print("Third Division")
    elif 60 <= mark <= 89:
        print("Second Division")
    elif mark >= 90:
        print("first Division")

Third Division
Third Division
Second Division
Second Division
Second Division
Second Division
Second Division
Second Division
first Division
first Division
Third Division

# FUNCTIONS IN PYTHON

In [60]:
def function_name(marks):
    for mark in marks: 
        if mark >= 50: 
            print ("Pass")
     else: 
          print ("Fail")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [64]:
marks = [75,85,60,90,40]

In [66]:
def function2(marks):
    for mark in marks:
        if mark >=50:
            print("Pass")
        else:
            print("Fail")

In [67]:
function2(marks)

Pass
Pass
Pass
Pass
Fail

In [68]:
def function_name(marks):
    for mark in marks:
        if mark >= 60:
            print("pass")
        else:
            print("Fail")

In [75]:
DELIMITER $$
CREATE FUNCTION flag_marks(a INT) RETURNS VARCHAR(30)
DETERMINISTIC
BEGIN
declare c VARCHAR(30);
IF a < 50 THEN SET c = "Failed";
elseIf a >50 THEN SET c = "Passed"
end if; 
return c;
end $$

SELECT col1, col2, flag_marks(col2) as flag

SyntaxError: invalid syntax (3991366324.py, line 1)

# MODULES
these are basically inbuild functions created by other developers. 
now that Python is open source, one can use them.


Python as a language - Has functions, keywords.

Module: has its predefined : variables,functions and Class.

import keyword (import -> Keyword(python); keyword -> consisting of variables, functions and class)
kwlist (kw.list -> is a variable a list in the module keyword
so print(keyword.kwlist) gives you that list which is a list of all the keywords in that module.

dir(keyword) (dir() -> python function to get the details about vairables,functions and class of the  module keyword.



import math (import Python key word; math -module)
dir(math) : dir->function of  python; dir(math) - gives the set of func,variables and class of that module math.


-------------------------------------------------------------------------------------------------------------------------------

Libraries : Set of modules. like Numpy,Pandas

In [80]:
# WE need to find the list of functions present within a library

In [81]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

dir -> gives the list of function in a particular library

In [85]:
help(math.tan) #help - gives you details of any particular function

Help on built-in function tan in module math:

tan(x, /)
    Return the tangent of x (measured in radians).

In [87]:
help(math.sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

In [77]:
import math
x = 25
sqr_root = math.sqrt(x) #sqrt is an inbuilt function in math libraries
print(sqr_root)

5.0

In [78]:
import math
x = 144
y = math.sqrt(x)
print(y)

12.0

In [88]:
import math
x = 169
y = math.sqrt(x)
print(y)
print(type(y))

13.0
<class 'float'>

In [89]:
import math
x = 169
y = math.sqrt(x)/2
print(y)

6.5

In [90]:
import math
x = 169
y = math.sqrt(x)//2
print(y)

6.0

In [91]:
#once you have imported the function there is no need to keep imorting again and again

In [92]:
import math
x = 0.5
sin_x = math.sin(x)
cos_x = math.cos(x)
tan_x = math.tan(x)
print(sin_x,cos_x,tan_x)

0.479425538604203 0.8775825618903728 0.5463024898437905

In [94]:
import math
x = 0.5
sin_x = math.sin(x)
cos_x = math.cos(x)
tan_x = math.tan(x)
dict_data = {'x':[0.5],'sin_value':[sin_x],'cos_value':[cos_x], 'tan_value':[tan_x]} #used a dictionary type
print(dict_data)

{'x': [0.5], 'sin_value': [0.479425538604203], 'cos_value': [0.8775825618903728], 'tan_value': [0.5463024898437905]}

In [95]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [96]:
help(math.exp)

Help on built-in function exp in module math:

exp(x, /)
    Return e raised to the power of x.

In [97]:
help(math.factorial)

Help on built-in function factorial in module math:

factorial(n, /)
    Find n!.

    Raise a ValueError if x is negative or non-integral.

In [100]:
import math
x = 5
y = math.exp(x)
print("The exponential of", x, "is", y)

The exponential of 5 is 148.4131591025766

In [101]:
import math
x = 4
f = math.factorial(x)
print("The factorial of", x, "is",f)

The factorial of 4 is 24

#LET'S SEE HOW AND WHERE COULD WE USE THESE FUNCTION TO USE IT SOMEWHERE ELSE

In [102]:
import math
print(math.pi)

3.141592653589793

In [103]:
#now lets use the imported value to calculate the area of a circle

import math
def circle_area(r):
    return math.pi*r**2
print("The area of the circle is", circle_area(4))

The area of the circle is 50.26548245743669

In [105]:
import math
def circle_area(r):
    return math.pi*r*2
r = 5
a=circle_area(r)
print(a)

31.41592653589793

In [109]:
import math
def circle_area(r):
    return math.pi*r**2
print("The are of the circle is {:.2f}".format(circle_area(5)))  #{:.2f} i was to limit the result upto 2 places of decimal

The are of the circle is 78.54

{:.2f} - thats a placeholder 
.format(area_with_radius_5) - method call that replaces the placeholder in the string with the value of circle_area(5)

In [113]:
import math
def circle_area(r):
    return math.pi *r **2
print("The area of the circle is {:.2f}".format(circle_area(5)))

The area of the circle is 78.54

In [116]:
import math

def tan_fun(x):
    return math.sin(x) / math.cos(x) #you can't assign a varible in return for example return tan(x) = sin(x)/cos(x) -> XXX

print("Tan(x) =", "{:.3f}".format(tan_fun(39)))

Tan(x) = 3.615

# PLACEHOLDERS AND FORMAT

format method in Python is quite versatile and can be used in many different ways to format strings.

In [117]:
#Basic placeholder

In [120]:
name = "Alice"
greeting = "Hello,{}!".format(name)
print(greeting)

Hello,Alice!

In [122]:
first_name="Alice"
last_name = "Mohanty"
passport_name = "{}.{}".format(last_name,first_name)
print(passport_name)

Mohanty.Alice

In [125]:
country_code = "+91"
first_number =637
mid_number = 139
last_number =9536
phone_number = "{}-{}-{}-{}".format(country_code,first_number,mid_number,last_number)
print(phone_number)

+91-637-139-9536

In [129]:
a = "sheetal"
b = "Raj"
c = "Paris"

r = "{} lives with {} in {}".format(a,b,c)
print(r)

sheetal lives with Raj in Paris

In [130]:
# Formatting Numbers
#format can be used to format numbers in various ways:

In [131]:
# 1. Decimal Places:

In [132]:
pi = 3.14159265
text = "Pi rounded to two decimal places is {:.2f}".format(pi)
print(text)

Pi rounded to two decimal places is 3.14

In [136]:
#2. Commas as Thousands Separator:

In [137]:
large_number = 12345678
text = "Formatted number: {:,}".format(large_number)
print(text)

Formatted number: 12,345,678

In [138]:
large_number  = 22345
text = "Formatted number: {:,}".format(large_number)
print(text)

Formatted number: 22,345

In [140]:
large_number = 2345
text = "Formatted number = {:,}".format(large_number)
print(text)

Formatted number = 2,345

In [141]:
#3. Percentage Format:

In [142]:
fraction = 0.75
text = "As a percentage: {:.1%}".format(fraction)
print(text)

As a percentage: 75.0%

In [144]:
fraction = 0.826
text = "The desired percentage is: {:.1%}".format(fraction)
print(text)

The desired percentage is: 82.6%

In [146]:
fraction = 0.823456
text = "The formatted value is: {:.2%}".format(fraction) 
print(text)

The formatted value is: 82.35%

# {:.2f} - 2 places of decimal 

# {:,}- to put commas after thousands.

# {:1%}- fraction converted to Percentage and then with 1 place after the decimal.

# {:2%} - fraction converted to Percentage and then with 2 place after the decimal.